body{
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0)
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #1f1e1e;
}

header{
  background-color: #58bcc9;
  color: #635e5e;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding:30px 20px;
  border: border: 2px solid #333;;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 18px;
}

a:hover{
  background-color: #FFEE8C;
  color: #1f1e1e;
}

main {
  border: 2px solid #ffffff;
  padding: 20px;
  margin: 20px auto;
  max-width: 950px;
}

#Contact{
  background-color: #ffffff;
  padding: 10px;
  margin: 15px;
  border: 35px solid #920000;
}
#About{
  background-color: #ffffff;
  padding: 10px;
  margin: 15px;
  border: 35px solid #ee7401;
}
#Projects{
  background-color: #ffffff;
  padding: 10px;
  margin: 15px;
  border: 35px solid #c25555;
}

footer {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #FFFFFF;
}
