body{
  background-color: #FFFFFF;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  color: #1f1e1e;
}

header{
  background-color: #58bcc9;
  color: #ffffff;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  padding:30px 20px;
  border: 2px solid #333;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 18px;
  border: 2px solid #333;
  border-color: #58bcc9;
  padding: 10px;
  margin: 10px 0;
}

nav a {
  text-decoration: none;
  color: #333;           
  padding: 8px 15px;     

a:hover{
  background-color: #FFEE8C;
  color: #1f1e1e;
}

main {
  border: 2px solid #58bcc9; 
  padding: 20px;
  margin: 20px auto;
  max-width: 950px;
  background-color: #ffffff;
}

/* SECTIONS */
#About, #Projects, #Contact {
  background-color: #ffffff;
  border: 4px solid #58bcc9;
  color: #1f1e1e; 
  padding: 20px;
  margin: 15px;
}

/* FOOTER */
footer {
  font-size: 16px;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #FFFFFF;
}
